#ldapauth-container { margin-top:20px; padding-top:20px; border-top:solid 1px #1D2D3D; text-align:center; }
#ldapauth-button { display:block; width:215px; height:41px; margin:auto; background:blu; border:none; }
